{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria - Banda Sinfônica Henrique Marques</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Link para o arquivo CSS estático -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Banda Sinfônica Henrique Marques</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'sobre' %}">Sobre</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'eventos' %}">Eventos</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'galeria' %}">Galeria</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contato' %}">Contato</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>  -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="accessibilityDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acessibilidade</a>
                    <div class="dropdown-menu" aria-labelledby="accessibilityDropdown">
                        <a class="dropdown-item" href="#" onclick="toggleContrast()">Autocontraste</a>
                        <a class="dropdown-item" href="#" onclick="zoomIn()">Aumentar Zoom</a>
                        <a class="dropdown-item" href="#" onclick="zoomOut()">Reduzir Zoom</a>
                    </div>
                </li>
            </ul>

            <!-- Botão de login à direita -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn btn-primary nav-link text-white" href="{% url 'sair' %}">Login</a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="container mt-5">
        <h1>Galeria de Imagens</h1>
        <div class="row">
            <div class="col-md-4">
                <img src="https://scontent.fcpq8-1.fna.fbcdn.net/v/t39.30808-6/275106361_4898913386862756_7228603411910021619_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_ohc=apLYuQBNcNgQ7kNvgHztlf6&_nc_zt=23&_nc_ht=scontent.fcpq8-1.fna&_nc_gid=AWjdFxRkNCXgmlnd2FN5w5N&oh=00_AYBS95DAcmiEEHNbsDq_rKtV61yslZ3zYgdJn56SXY9n-Q&oe=6725F334" class="img-fluid" alt="Festival de Música Clássica">
            </div>
            
            <div class="col-md-4">
                <img src="https://scontent.fcpq8-1.fna.fbcdn.net/v/t39.30808-6/278650088_5032843460136414_2314742270397181893_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=127cfc&_nc_ohc=wDoBdMFynhkQ7kNvgHD4ypG&_nc_zt=23&_nc_ht=scontent.fcpq8-1.fna&_nc_gid=AYMyPKK18au1rzsPPaYaAsp&oh=00_AYBAg4hqCxF7sgUEuhKeF66DLTl7mq52NOpq28vWisNoGQ&oe=6725F113" class="img-fluid" alt="Festival de Música Clássica">
            </div>
            
            <div class="col-md-4">
                <img src="https://scontent.fcpq8-1.fna.fbcdn.net/v/t39.30808-6/279164617_5032843706803056_3354810334936862968_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=127cfc&_nc_ohc=NCUtgrKfe4gQ7kNvgE89tUv&_nc_zt=23&_nc_ht=scontent.fcpq8-1.fna&_nc_gid=ADpW4alg-6OH043tAE_7pq_&oh=00_AYANk2ReCCrkhCDqMNjt1zOxEpVCOewgQLQLrw5FuFWbwA&oe=6725EAAF" class="img-fluid" alt="Recital de Inverno">
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>

