{% extends 'base.html' %}

{% block 'titulo_head' %} Galeria {% endblock %}

{% block 'body_extra' %}

<!-- Menu de navegação superior -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1874CD;">
    <a class="navbar-brand" href="#" style="color: white;">Informações da banda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'sobre' %}" style="color: white;">Sobre</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'evento' %}" style="color: white;">Eventos</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'galeria' %}" style="color: white;">Galeria</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contato' %}" style="color: white;">Contato</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'sair' %}" style="color: white;">Login</a></li>
        </ul>
    </div>
</nav>

<!-- Container com margem lateral de 20px, fundo #ADD8E6 e largura limitada para o texto -->
<div style="padding: 0 20px;">
    <!-- Título da galeria com tamanho 20 e negrito -->
    <h1 style="font-size: 20px; font-weight: bold; text-align: center;">Galeria de Imagens</h1>
    
    <!-- Galeria de Imagens com 6 imagens, 3 em cada linha -->
    <div class="row" style="margin-bottom: 20px;">
        <!-- Imagem 1 -->
        <div class="col-md-4">
            <img src="https://scontent.fcpq8-1.fna.fbcdn.net/v/t39.30808-6/282243586_5110650979022328_8738973864364467302_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHZzExeHuRKbpPzjYNWs6AYN_3DAqHJFi43_cMCockWLm_9jJqLPqP5WDgu751YQxhzk7dU-_sSlcgyc5Aj6eO1&_nc_ohc=rRvG-LxfupwQ7kNvgGTSxUb&_nc_zt=23&_nc_ht=scontent.fcpq8-1.fna&_nc_gid=AmPx7Y28I2SBWO1j4_4VWxU&oh=00_AYDedwnGO7s5B7Dx6TWWIMznbh3eWx7LS8aW1Mg2lklWTQ&oe=673EA802" alt="Banda tocando no evento" class="img-fluid" style="object-fit: cover;">
        </div>
        <!-- Imagem 2 -->
        <div class="col-md-4">
            <img src="https://scontent.fcpq8-1.fna.fbcdn.net/v/t39.30808-6/275112402_4898913233529438_15923177419223351_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHtdOixjzryB9DYP66rUn3MhPSO6pm36FWE9I7qmbfoVRe83LSIt7rzlP7X2uZ2kmquY64QqSD3RH4xTsSZ29x_&_nc_ohc=W91Gnq_lftsQ7kNvgGGf9Ut&_nc_zt=23&_nc_ht=scontent.fcpq8-1.fna&_nc_gid=AKPsBp1ZL3cI6E9XWELV6jB&oh=00_AYBe_sxpKn0DbZCjMD5Asa0tQk3Bg-M6bfMhfRI6ZanJSA&oe=673EA430" alt="Coreto Praça Toledo Barros" class="img-fluid" style="object-fit: cover;">
        </div>
        <!-- Imagem 3 -->
        <div class="col-md-4">
            <img src="https://scontent.fcpq8-1.fna.fbcdn.net/v/t39.30808-6/325147756_1539843419828431_87194455277469121_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=86c6b0&_nc_eui2=AeFtA1LdAt8_Z8Sb7KFrthQVEO5_FAy35sgQ7n8UDLfmyDUgELJ_BhdB3iXGvm9pC83nhPlVzdU-5iVv1sFmFj3i&_nc_ohc=k2DNciytBMcQ7kNvgEWwMSe&_nc_zt=23&_nc_ht=scontent.fcpq8-1.fna&_nc_gid=AIAhGtw7j_PK5Cz9vuXMbcF&oh=00_AYBVhFp8PGJSErFJNW1jkLe3PtPaBMDnIXxKyeUlj7Se8g&oe=673D9469" alt="Banda tocando no evento" class="img-fluid" style="object-fit: cover;">
        </div>
    </div>
    
    <div class="row" style="margin-bottom: 20px;">
        <!-- Imagem 4 -->
        <div class="col-md-4">
            <img src="https://scontent.fcpq8-1.fna.fbcdn.net/v/t39.30808-6/270155514_4680605435360220_9134348662277464083_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=86c6b0&_nc_eui2=AeFEI9kRNxQXQIMnMR8outck38B9simZRGjfwH2yKZlEaNrtWiUQcjpHzOsjP_5LyqS-PNSn-eKej7CQM65elwI0&_nc_ohc=868o92ozMVQQ7kNvgENmsad&_nc_zt=23&_nc_ht=scontent.fcpq8-1.fna&_nc_gid=AYJNNGZW3EDRLNHI-fR3jvG&oh=00_AYAQjnG_83HUs5wCyNRRqCVcCtkANOaOIz5XWl1s8p9X-g&oe=673E9FA4" alt="Banda tocando no evento" class="img-fluid" style="object-fit: cover;">
        </div>
        <!-- Imagem 5 -->
        <div class="col-md-4">
            <img src="https://scontent.fcpq8-1.fna.fbcdn.net/v/t1.6435-9/72272864_2558181504269301_8529995389921656832_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=cf85f3&_nc_eui2=AeHsRm8rrTEBmE6IWM1La7jThqhw93AyMyyGqHD3cDIzLJ0u3WfGnNLS6_GNCKimbfcgrptqWOVlXFaNqnk-LiCP&_nc_ohc=CknyvPnHBwwQ7kNvgHMQSc-&_nc_zt=23&_nc_ht=scontent.fcpq8-1.fna&_nc_gid=AmmewExCDxWsmR6tx0klLSe&oh=00_AYDwMNNlG1QWSKou9LPsBl5Ay3VpvuxPYi9vz3h0Rt9lVQ&oe=67604F97" alt="Banda tocando no evento" class="img-fluid" style="object-fit: cover;">
        </div>
        <!-- Imagem 6 -->
        <div class="col-md-4">
            <img src="https://scontent.fcpq8-1.fna.fbcdn.net/v/t1.6435-9/68629173_2408125115941608_5182911957216264192_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=cf85f3&_nc_eui2=AeF1L8YARpzUcydjFwpVLu7MmkqK98qmkaOaSor3yqaRo8d7P_bEcGdZLMJfbF8uZ9ujWGww9LrxCnKb083hziJ2&_nc_ohc=pWCUVKushbEQ7kNvgHyMhtk&_nc_zt=23&_nc_ht=scontent.fcpq8-1.fna&_nc_gid=AX6fK20F3qRk3VfaczTk94y&oh=00_AYDkVT18tDc9b3KPru03A-xS130a83HuiYjLym69EKRtKA&oe=67603203" alt="Coreto Praça Toledo Barros" class="img-fluid" style="object-fit: cover;">
        </div>
    </div>
    <br>
    <br>
    <br>
</div>



<footer>
    <p>&copy; 2024 Banda Sinfônica Henrique Marques. Todos os direitos reservados.</p>
</footer>
{% endblock %}
