{% extends 'base.html' %}

{% load filtros %}

{% block 'titulo_head' %} Detalhes do Livro {% endblock %}

{% block 'body_extra' %}

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deseja mesmo excluir?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a href="{% url 'excluir_livro' id_livro %}" class="btn btn-danger">Excluir</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="container">
    <div class="d-flex justify-content-end mt-3">
      <a href="{% url 'home' %}" class="btn btn-primary mb-3">Voltar ao Acervo</a>
    </div>
  
  <br>
  <form action="{% url 'alterar_livro' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{livro.id}}" name="livro_id">

    <div class="form-group">
      <label for="compositor">Compositor:</label>
      <input id="compositor" class="form-control" type="text" value="{{livro.compositor}}" name="compositor" aria-label="Compositor">
    </div>

    <div class="form-group">
      <label for="arranjador">Arranjador:</label>
      <input id="arranjador" class="form-control" type="text" value="{{livro.arranjador}}" name="arranjador" aria-label="Arranjador">
    </div>

    <div class="form-group">
      <label for="obra">Nome da Obra:</label>
      <input id="obra" class="form-control" type="text" value="{{livro.obra}}" name="obra" aria-label="Nome da obra">
    </div>

    <div class="form-group">
      <label for="classificacao">Classificação:</label>
      <input id="classificacao" class="form-control" type="text" value="{{livro.classificacao}}" name="classificacao" aria-label="Classificação">
    </div>

    <div class="form-group">
      <label for="conteudo">Conteúdo:</label>
      <input id="conteudo" class="form-control" type="text" value="{{livro.conteudo}}" name="conteudo" aria-label="Conteúdo">
    </div>

    <div class="form-group">
      <label for="edicao">Edição:</label>
      <input id="edicao" class="form-control" type="text" value="{{livro.edicao}}" name="edicao" aria-label="Edição">
    </div>

    <div class="form-group">
      <label for="localizacao">Localização:</label>
      <input id="localizacao" class="form-control" type="text" value="{{livro.localizacao}}" name="localizacao" aria-label="Localização">
    </div>

    <div class="form-group">
      <label for="formato">Formato:</label>
      <input id="formato" class="form-control" type="text" value="{{livro.formato}}" name="formato" aria-label="Formato">
    </div>

    <div class="form-group">
      <label for="observacao">Observações:</label>
      <input id="observacao" class="form-control" type="text" value="{{livro.observacao}}" name="observacao" aria-label="Observações">
    </div>

    <div class="form-group">
      <label for="observacoes_gerais">Observações Gerais:</label>
      <input id="observacoes_gerais" class="form-control" type="text" value="{{livro.observacoes_gerais}}" name="observacoes_gerais" aria-label="Observações gerais">
    </div>

    <div class="form-group">
      <label for="genero">Gênero:</label>
      <input id="genero" class="form-control" type="text" value="{{livro.genero}}" name="genero" aria-label="Gênero">
    </div>

    <div class="form-group">
      <label for="categoria_id">Categoria:</label>
      <select id="categoria_id" class="form-control" name="categoria_id" aria-label="Categoria">
        {% for i in categoria_livro %}
          <option value="{{i.id}}" {% if livro.categoria.nome == i.nome %}selected{% endif %}>{{i}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label>Data de Cadastro:</label>
      <p>{{livro.data_cadastro}}</p>
    </div>

    <div class="form-group">
      <label>Emprestado:</label>
      {% if livro.emprestado %}
        <svg style="color: green" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
        </svg>
      {% else %}
        <svg style="color: red" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-success btn-lg">Salvar</button>
  </form>

  <br>
  <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal2">
    Excluir
  </button>

  <hr>
  <h2>Histórico de Retiradas</h2>
  
  <table class="table table-striped" role="grid" aria-label="Histórico de Retiradas">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Data Retirada</th>
        <th scope="col">Data Devolução</th>
        <th scope="col">Tempo de Duração</th>
      </tr>
    </thead>
    <tbody>
      {% for i in emprestimos %}
          <tr class="livro">
            {% if i.nome_emprestado_anonimo == None %}
              <th scope="row" tabindex="0">
                {{ i.nome_emprestado }}</th>
            {% else %}
            <th scope="row" tabindex="0">
                {{ i.nome_emprestado_anonimo }}</th>
            {% endif %}
            <td tabindex="0">{{ i.data_emprestimo }}</td>
            <td tabindex="0">{{ i.data_devolucao }}</td>
            <td tabindex="0">{{ i.data_devolucao|mostra_duracao:i.data_emprestimo }}</td>
            <td>
              <!-- {% if i.avaliacao == None %}
                <button onclick="avaliacao({{i.id}})" class="btn btn-info" data-toggle="modal" data-target="#exampleModal1">AVALIAR</button>
              {% else%}
                {{i.avaliacao}}
              {% endif %}-->
              </td>
            </tr>
          {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
